*.psd filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/windows_386/terraform-provider-aws_v5.26.0_x5.exe filter=lfs diff=lfs merge=lfs -text
